<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastelaria Delícia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        
        <a href="{{ url_for('ver_carrinho') }}">
            Carrinho 
            {% if session.carrinho %}
                ({{ session.carrinho.values()|sum(attribute='quantidade') }})
            {% endif %}
        </a>
        <a href="{{ url_for('index') }}">Início</a>
        <a href="{{ url_for('cardapio') }}">Cardápio</a>
        {% if 'cliente_id' in session %}
            {% if session['is_admin'] %}
                <a href="{{ url_for('admin_dashboard') }}">Painel Admin</a>
            {% endif %}
            <a href="#">Olá, {{ session['cliente_nome'] }}</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('cadastro') }}">Cadastre-se</a>
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </nav>
    <div class="container">
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>